@import '../variables.scss';
.result-description {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


  &__title {
    color: $white;
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 2.8rem;
  }
  &__text {
    // color nije dobar
    color: $light-lavender;
    max-width: 260px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    
  }
}

@media (min-width: 1024px) {
  .result-description {
    &__title {
      margin-bottom: 1.8rem;
    }
    &__text {
      font-size: 1.8rem;
      margin-bottom: 6rem;
    }
  }
  
}